body{
    text-align:center;
    direction: ltr;
    font-family: Arial;
    font-size: 10pt;
    line-height: 1.28;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
    color:#5f5b5b;
    background: url("../img/bodyBg.png");
}

body {

}

h2{
    text-align:left;
}
img{
    border:none;
    margin:0;
}

select, input, textarea{
    border-radius:0.2em;
}

input{
    border:1px solid silver;
    color:gray;
}

select, input, textarea{
    color: gray;
    border:1px solid silver;
    padding:2px;
}

.clear{
    clear:both;
}


#topo{
    width: 100%;
    background-color: white;
}

#esquerda{
    padding-top: 10px;
    height: 100px;
    width: 200px;
    float:left;
}

#corpo{
    padding-top: 10px;
    width: 1100px;
    float:left;
    padding: 10px;
}

#direita{
    padding-top: 10px;
    height: 100px;
    width: 200px;
    float:right;
}

#rodape{
    height: 60px;
    width: 100%;
}

#mensagem {
    position: absolute;
    top:100px;
    left:50%;
    margin-left:-100px;
    width: 200px;
    background-color: white;
    border:1px solid silver;
    display: none;
}


#mensagem .titulo{
    width: 100%;
    margin-bottom: 10px;
}

#mensagem .conteudo{
    padding: 20px;
}

#mensagem .close{
    cursor: pointer;
    float: right;
    padding: 15px;
   background: url('../img/close.png') no-repeat center center;
}

#topo #header{
    width: 100%;
    height: 60px;
}

#logo{
    float:left;  
    margin-left: 30px;
}

#logo img{
    float:left;
}

#logo h1{
    float:left;
}

#botoes{
    float:right;
    padding-top:20px;
    padding-right:20px;
    padding-bottom:20px;
}

#botoes img{
    cursor:pointer;
}

#topo #usuario{
    float:right;
    line-height:70px;
    text-align:right;
    padding-right:50px;
}

#menuTop{
    width: 100%;
    height: 40px;
    background-color: gray;
    border-bottom: 2px solid silver; 
    clear: both;
    
}

#menuTop li{
    float:left;
    width:80px;
    margin-top:26px;
    line-height:36px;

    list-style:none;
}
#menuTop li:hover{
    background:url(../img/bg-menu.jpg) no-repeat center center;
}

#menuTop a{
    display:block;
    text-decoration:none;
    color:#414141;
}

#menuEsquerda{
    float:left;
    text-align: left;
    margin-left: 20px;
}

#menuEsquerda ul{
    margin:0;
    padding:20px;
    font-family:arial;
    font-size:9pt;
}

#menuEsquerda  li{
    margin:0;
    padding-left:8px;
    padding-right:30px;
    padding-top:5px;
    padding-bottom:5px;
    border-bottom:1px dotted #720404;
    list-style:none;
    margin-bottom:5px;
    text-align:left;
    background-position:95% 50%;
    background-repeat:no-repeat;
    width: 110px;
}

#menuEsquerda ul li:hover, #menuEsquerda .menuAtivo {
    cursor:pointer;
    color:white;
}

#menuEsquerda a{
    color:#5f5b5b;
    text-decoration:none;
}

#menuEsquerda a:hover{
    color:gray;
    text-decoration:none;
    display:block;
}

.menuAtivoLink:hover{
    color:white;
}

/*******************************************************
/*******************************************************
/*******************************************************
                Classes dos Formularios 
/*******************************************************
/*******************************************************
/******************************************************/

.formulario{
    width:auto;
}

.formulario .cabecalho{
    background-color: #DBDBDB;
    height:35px;
    width: 100%;
    margin-bottom: 10px;
    border:1px solid #c6c6c6;
}

.formulario .titulo{
    font-size:11pt;
    text-align:left;
    padding:8px;
    padding-left:15px;
    float: left;
    font-weight:bold;
    text-transform: capitalize;
}

.formulario .icones{
    float: right;
    margin-right: 10px;
    margin-top: 6px;
}

.formulario .corpo{
    padding:10px;
    background-color: #f3f1f1;
    border:1px solid #c6c6c6;
}

.formulario tr{
    border-bottom:1px solid silver;
}
.formulario .linha{
    border-top:1px solid silver;
}
.formulario .ncampo {
    text-align:right;
    font-weight: bold;
    font-size: 8pt;
}

.formulario label{
    font-weight: bold;
    font-size: 8pt;    

}

.formulario .botao_formulario{
    float: right;
    margin-right: 10px;
    margin-top: 2px
}

.formulario td{
    padding-bottom:5px;
    padding-left:5px;
    text-align:left;
}

/*******************************************************
/*******************************************************
/*******************************************************
        Classes dos Relatorios Interativos 
/*******************************************************
/*******************************************************
/******************************************************/

.main_pesquisa{
    margin-bottom:10px;
    width: auto;
}

.main_pesquisa{
    border:1px solid #e6e6e6;
    background-color: #F1F1F1;
    float:left;
    padding:10px;
}

.valorPesquisa{
    height: 20px;   
    text-align: left;
    width:300px;
}

.relatorio {
    border-collapse:collapse;
    width: 100%;
}
.relatorio{
    margin-top:0px;
    margin-bottom:10px;
}

.relatorio th{
    cursor: pointer;
    background-image:url(../img/bg-topo-relatorio.jpg); 
    background-color: gray;
    color:white;
    font-size:10pt;
    padding-left:10px;
}

.relatorio .linkPrincipal{
    background-image:url(../img/alterar.png);
    background-repeat:no-repeat;
    background-position: center center;
    cursor:pointer;
}

.relatorio td{
    padding:3px;
    padding-top:5px;
    padding-left:10px;
    padding-right:10px;
    border-bottom:1px solid #dbdbdb;
    font-size: 12px;
    text-align: left;
    background-color:#fafafa;
}



.relatorio .titulo{
    text-align:left;
    background-color:white;
    font-size:12pt;
    padding-bottom: 10px;
    font-weight:bold;
    text-transform: capitalize;
}

.relatorio img{
    cursor:pointer;
}

table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

.icone{
    float:right;
    width: 30px;
    cursor:pointer;
}

.paginacao span{
    cursor: pointer;
    font-weight: bold;
}

.paginacao span:hover{
    color:blue;
    text-decoration: underline;
}

.totalLinhas{
    width: 100%;
    float:left;
    text-align: left;
    margin-bottom: 5px;
}

.relatorio th:hover{
    font-weight: bold;
    text-decoration: underline;
}

/*******************************************************
/*******************************************************
/*******************************************************
        Classes das Colunas Opções 
/*******************************************************
/*******************************************************
/******************************************************/

.opcoesColunas{
    font-size: 7pt;
    font-weight: bold;
    border:1px solid gray;
    background-color: white;
    max-width: 300px;
    position: absolute;
    text-align: left;   
    padding: 10px;
    display: none;
}

.opcoesColunas input:hover{
    cursor: pointer;
}

.checkAgrupar{
    float:left;
}

.checkExibicao{
    float:left;
}

.botao{
    margin-top:5px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    padding: 4px 6px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;

}

.botao, .botao:active, .botao:focus, .botao:hover {
    background-image: url(https://s-static.ak.fbcdn.net/rsrc.php/v2/yM/r/QvWFehnkoZF.png);
    background-repeat: no-repeat;
    background-position: -352px -201px;
    background-color: #EEE;
    border: 1px solid #999;
    border-bottom-color: #888;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

#TelaLogin{
    margin:auto;
    margin-top:100px;
    width:300px;
    text-align:left;
    border-bottom:2px solid gray;	

}


#TelaLogin .topo{
    font-size:15pt;
    padding:10px;
    padding-left:15px;
    background:url(../img/topo-login.jpg)  top center;
}

#TelaLogin .corpo{
    padding:20px;
    padding-left:45px;
    background-color:white;
}

#TelaLogin #loginLogo{
    /*background:url(../img/logo.png) no-repeat center center;*/
    width:300px;
    height:120px;
}

