#calendar {
    width: 900px;
    margin: 10px auto;
}


.period-M{
	background-color: #ed9e2c !important;
        border:#c78627;
}

.period-T{
	background-color: #92bac0 !important;
}

.period-N{
	background-color: #a5c140 !important;
        border:#7b8f31;
}