#calendar {
    width: 900px;
    margin: 10px auto;
}


.period-M{
	background-color: #00BFFF !important;
}

.period-T{
	background-color: #EEDD82 !important;
}

.period-N{
	background-color: #36648B !important;
}